<h1>Check Availability</h1>
<form action='/spaces/availability' method='post' id = 'availability'>
	<label for='dates'>
		Dates:
		<input name='check_availability' type='text' required value="Search...">
		<input type="submit" value="Search">
	</label>
</form>

<% @listings.each do |space| %>
  <div class="listing">
    <ul>
    <h2><%= space.name %></h2>
    <form action="/bookings/new" method='post' class = 'book'>
     <input type="hidden" name='space_id' value="<%= space.id %>" >
     <input type="submit" value="Book <%= space.name %>">
   </form>
    Description: <%= space.description %>
		<% space.picture_url.split(',').each do |picture| %>
			<img src=<%= picture %>>
		<% end %>
    <br>
    Price per Night: <%= space.price %>
    <br>
		Availability:

    <% space.availabilities.each do |availability| %>
      <%= availability.date.strftime('%d/%m/%Y') %>,
      <!-- <form action="/availability" method='post'>
        <input type="hidden" name='_method' value='delete'>
        <input type="hidden" name='space_id' value="<%= space.id %>" >
        <input type="hidden" name='availability_id' value="<%= availability.id %>">
        <input type="submit" value="Book <%= availability.date.strftime('%d/%m/%Y') %>"></button>
      </form> -->
    <% end %>
  </ul>
</div>
  <% end %>
