<h1>Check Availability</h1>
<form action='/spaces/availability' method='post'>
	<label for='dates'>
		Dates:
		<input name='check_availability' type='text' required>
		<input type="submit" value="Search">
	</label>
</form>

<% @listings.each do |space| %>
	<ul>
    <h2><%= space.name %> listed </h2>
    <p> Description: </p> <p><%= space.description %> </p>
    <p> Price per Night: <%= space.price %> </p>
    <p> Availability: </p>
    <% space.availabilities.each do |availability| %>
      <%= availability.date.strftime('%d/%m/%Y') %>,
      <form action="/availability" method='post'>
        <input type="hidden" name='_method' value='delete'>
        <input type="hidden" name='space_id' value="<%= space.id %>" >
        <input type="hidden" name='availability_id' value="<%= availability.id %>">
        <input type="submit" value="Book <%= availability.date.strftime('%d/%m/%Y') %>"></button>
      </form>
    <% end %>
    <a href="/bookings/new">
      <button>Book space</button>
    </a>
  </ul>
  <% end %>
