<% @listings.each do |space| %>
  <ul>
    <h1><%= space.name %> listed </h1>
    <p> Description: </p> <p><%= space.description %> </p>
    <p> Price per Night: <%= space.price %> </p>
    <p> Availability: </p>
    <% space.availabilities.each do |availability| %>
      <%= availability.date.strftime('%d/%m/%Y') %>,
      <form action="/bookings/new" method='post'>
       <!-- <input type="hidden" name='_method' value='delete'> -->
       <input type="hidden" name='space_id' value="<%= space.id %>" >
       <input type="hidden" name='availability_id' value="<%= availability.id %>">
       <input type="submit" value="Book <%= space.name %>">
     </form>
    <% end %>
    <!-- <button onclick="window.location='/bookings/new'">Book space</button> -->
  </ul>
  <% end %>
