<p/>

<h2> Where do you want to stay today ???? <h2>

<% @listings.each do |space| %>
  <div id="listing">
    <ul id="listing">
    <h2><%= space.name %> listed </h2>
    <br>
    Description: <%= space.description %>
    <br>
    Price per Night: <%= space.price %>
    <br>
    Availability:
    <br>
    <% space.availabilities.each do |availability| %>
      <%= availability.date.strftime('%d/%m/%Y') %>,

      <form action="/bookings/new" method='post'>
       <input type="hidden" name='space_id' value="<%= space.id %>" >
       <input type="hidden" name='availability_id' value="<%= availability.id %>">
       <input type="submit" value="Book <%= space.name %>">
     </form>

      <form action="/availability" method='post'>
        <input type="hidden" name='_method' value='delete'>
        <input type="hidden" name='space_id' value="<%= space.id %>" >
        <input type="hidden" name='availability_id' value="<%= availability.id %>">
        <input type="submit" value="Book <%= availability.date.strftime('%d/%m/%Y') %>"></button>
      </form>
    <% end %>
    <a href="/bookings/new">
      <button>Book space</button>
    </a>
  </ul>
  <% end %>
